In [4]:
import pandas as pd 
import numpy as np
from openpyxl import load_workbook

In [5]:
file_i = 'Maestro Enero 2023.xlsx'
master_wb = load_workbook(file_i)
sheet = master_wb.worksheets[0]

In [8]:
n_row = sheet.max_row
n_col = sheet.max_column
n_row, n_col

(1936, 14)

In [20]:
color = []  

for i in range(1,n_row):
    cell1 = sheet.cell(column=1, row=i)
    cell2 = sheet.cell(column=2, row=i)
    id = cell1.value
    bgColor = cell2.fill.bgColor.index
    
    if (bgColor != '00000000'): #or (fgColor != '00000000'):
        color.append((id, bgColor))

print(color)

[(393, 'FFFFFF00'), (429, 'FF481D32'), (491, 'FF481D32'), (524, 'FF481D32'), (525, 'FF481D32'), (526, 'FF481D32'), (527, 'FF481D32'), (528, 'FF481D32'), (529, 'FF481D32'), (530, 'FF481D32'), (531, 'FF481D32'), (532, 'FF481D32'), (533, 'FF481D32'), (534, 'FF481D32'), (535, 'FF481D32'), (536, 'FF481D32'), (537, 'FF481D32'), (538, 'FF481D32'), (539, 'FF481D32'), (540, 'FF481D32'), (541, 'FF481D32'), (542, 'FF481D32')]

In [45]:
def get_sheet_changes(file_name):
    master_wb = load_workbook(file_name)            # we use the function load_workbook from openpyxl
    sheet = master_wb.worksheets[0]                 # select the first sheet
    n_row, n_col = sheet.max_row, sheet.max_column  # define the rows and cols of the sheet
    headers = [c.value for c in sheet[1] if c.value is not None]
    changes = []

    for i in range(1,n_row):
        asset_changes = []
        cell = sheet.cell(column=2, row=i)
        asset_color = cell.fill.bgColor.index
        if (asset_color != '00000000'):
            effective_sheet = sheet[i][2:]              # we are interested in other columns
            for j, col in enumerate(effective_sheet):     
                col_color = col.fill.bgColor.index
                if (col_color != '00000000'):           # if cell has color then we save the changes
                    asset_changes.append({'value':col.value,'column':headers[col.column-1]})
            changes.append({'id':sheet.cell(column=1, row=i).value ,'changes':asset_changes})

    return changes

In [61]:
changes = get_sheet_changes(file_i)
changes

[{'id': 393,
  'changes': [{'value': 'ENEX', 'column': 'alias1'},
   {'value': 'Especialista 4', 'column': 'alias2'}]},
 {'id': 429,
  'changes': [{'value': 1, 'column': 'active'},
   {'value': 'GEMIN', 'column': 'alias1'},
   {'value': 'Especialista 6', 'column': 'alias2'}]},
 {'id': 491,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'JYD M', 'column': 'alias1'},
   {'value': 'Especialista 2', 'column': 'alias2'}]},
 {'id': 524,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 1', 'column': 'alias2'}]},
 {'id': 525,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 6', 'column': 'alias2'}]},
 {'id': 526,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 1', 'column': 'alias2'}]},
 {'id': 527,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 1', 'column': 'alias2'}]},
 {'id': 528,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 1', 'column': 'alias2'}]},
 {'id': 529,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 1', 'column': 'alias2'}]},
 {'id': 530,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 6', 'column': 'alias2'}]},
 {'id': 531,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 6', 'column': 'alias2'}]},
 {'id': 532,
  'changes': [{'value': 1, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 3', 'column': 'alias2'}]},
 {'id': 533,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 6', 'column': 'alias2'}]},
 {'id': 534,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 6', 'column': 'alias2'}]},
 {'id': 535,
  'changes': [{'value': 1, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 6', 'column': 'alias2'}]},
 {'id': 536,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 6', 'column': 'alias2'}]},
 {'id': 537,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 3', 'column': 'alias2'}]},
 {'id': 538,
  'changes': [{'value': 1, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 6', 'column': 'alias2'}]},
 {'id': 539,
  'changes': [{'value': 1, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 6', 'column': 'alias2'}]},
 {'id': 540,
  'changes': [{'value': 1, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 6', 'column': 'alias2'}]},
 {'id': 541,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 1', 'column': 'alias2'}]},
 {'id': 542,
  'changes': [{'value': 0, 'column': 'active'},
   {'value': 'P&J', 'column': 'alias1'},
   {'value': 'Especialista 1', 'column': 'alias2'}]}]

In [96]:
for change in changes:                      
        for col_change in change["changes"]: 
                print(col_change["value"])

#changes[0]["changes"][0]#["value"]

ENEX
Especialista 4
1
GEMIN
Especialista 6
0
JYD M
Especialista 2
0
P&J
Especialista 1
0
P&J
Especialista 6
0
P&J
Especialista 1
0
P&J
Especialista 1
0
P&J
Especialista 1
0
P&J
Especialista 1
0
P&J
Especialista 6
0
P&J
Especialista 6
1
P&J
Especialista 3
0
P&J
Especialista 6
0
P&J
Especialista 6
1
P&J
Especialista 6
0
P&J
Especialista 6
0
P&J
Especialista 3
1
P&J
Especialista 6
1
P&J
Especialista 6
1
P&J
Especialista 6
0
P&J
Especialista 1
0
P&J
Especialista 1

In [114]:
def set_sheet_changes(changes, file_name):
    df_master = pd.read_excel(file_name, sheet_name=0)


    for change in changes:                      # iterating in changes (colored cells)
        for col_change in change["changes"]:    # iterating in all changes of certain row
            #print(change["id"], col_change["column"])
            #print(change["id"], df_master.loc[df_master["id"] == change["id"], col_change["column"]], col_change["value"])

            # if the previous value was different than the current one then we do the change 
            if (str(df_master.loc[df_master["id"] == change["id"], col_change["column"]]) != str(col_change["value"])):
                df_master.loc[df_master["id"] == change["id"], col_change["column"]] = col_change["value"]
            

    df_master.to_excel("test.xlsx", index=False)

In [115]:
file_f = 'maestro_20230110.xlsx'
set_sheet_changes(changes, file_f)

In [36]:
cell2 = sheet.cell(column=2, row=2)
cell2.value

'BDYH11'

In [74]:
df = pd.DataFrame({'Name': ['John', 'Jane', None, 'Bob'], 'Age': [25, 30, 35, 40]})
df

   Name  Age
0  John   25
1  Jane   30
2  None   35
3   Bob   40

In [101]:
aux = df[df["Name"]=="Bob"]
#aux.loc[3][1]
aux

  Name  Age
3  Bob   40

In [100]:
df.loc[df['Name'] == 'John', 'Age']

0    25
Name: Age, dtype: int64

In [1]:
lista = [1,2,3,4,5]
lista2 = [lista[-1]] + [lista[0]]
lista2

[5, 1]